hr {
    border: 1px solid lightgrey;
    width: 100%;
    margin: 0;
    margin-bottom: 20px; 
}

.profile-info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-text-info-wrapper {
    display: flex;
    flex-direction: column
}