.tumo-logo {
  width: 100px;
}

.nav-icon {
  width: 32px;
  margin-left: 2em;
  cursor: pointer;
}

.user-name {
  right: 0px;
  color: white;
}

.global-nav {
  height: 57px;
}

.log-out-button {
  background-color: #EE9018;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  color: white;
}

.log-out-button:hover{
  text-decoration: underline;
}